<div class="page-content">

    <!-- start page title -->
    <div class="page-title-box">
        <div class="container-fluid">
         <div class="row align-items-center">
             <div class="col-sm-6">
                 <div class="page-title">
                     <h4>Bukti Setoran</h4>

                 </div>
             </div>
         </div>
        </div>
     </div>
     <!-- end page title -->    


    <div class="container-fluid">

        <div class="page-content-wrapper">

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <a href="/laporan">
                                <button type="button" class="btn btn-primary waves-effect waves-light">Data Laporan</button>
                            </a>
                            <a href="/upd-laporan">
                                <button type="button" class="btn btn-primary waves-effect waves-light">Upload Laporan</button>
                            </a>
                            <a href="/bukti-setoran">
                                <button type="button" class="btn btn-primary waves-effect waves-light">Bukti Setoran</button>
                            </a>
                            <div class="table-responsive mt-1">
                                <table class="table table-editable table-nowrap align-middle table-edits">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Nama File</th>
                                            <th>Ukuran File</th>
                                            <th>Tanggal Upload</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-id="1">
                                            <td data-field="no" style="width: 80px">1</td>
                                            <td data-field="nama">Bukti Setoran Denda 2020/2021.jpg</td>
                                            <td data-field="ukuran">2mb</td>
                                            <td data-field="tanggal">10/01/2023</td>
                                            <td data-field="status" class="badge rounded-pill bg-warning">pending</td>
                                            <td style="width: 100px">
                                                <a class="btn btn-outline-secondary btn-sm edit" title="Edit">
                                                    <i class="fas fa-pencil-alt"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr data-id="1">
                                            <td data-field="no" style="width: 80px">1</td>
                                            <td data-field="nama">Bukti Setoran Denda 2022/2023.jpg</td>
                                            <td data-field="ukuran">2.5mb</td>
                                            <td data-field="tanggal">10/01/2022</td>
                                            <td data-field="status" class="badge rounded-pill bg-success">done</td>
                                            <td style="width: 100px">
                                                <a class="btn btn-outline-secondary btn-sm edit" title="Edit">
                                                    <i class="fas fa-pencil-alt"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div> <!-- end col -->
            </div> <!-- end row -->

        </div>

        
    </div> <!-- container-fluid -->
</div>