<div class="page-content">

    <!-- start page title -->
    <div class="page-title-box">
        <div class="container-fluid">
         <div class="row align-items-center">
             <div class="col-sm-6">
                 <div class="page-title">
                     <h4>Upload Laporan</h4>
                 </div>
             </div>
             <div class="col-sm-6">
                <div class="float-end d-none d-sm-block">
                    <a href="" class="btn btn-success">Add Widget</a>
                </div>
             </div>
         </div>
        </div>
     </div>
     <!-- end page title -->    


    <div class="container-fluid">

        <div class="page-content-wrapper">

        


            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <a href="/laporan">
                                <button type="button" class="btn btn-primary waves-effect waves-light">Data Laporan</button>
                            </a>
                            <a href="/upd-laporan">
                                <button type="button" class="btn btn-primary waves-effect waves-light">Upload Laporan</button>
                            </a>
                            <a href="/bukti-setoran">
                                <button type="button" class="btn btn-primary waves-effect waves-light">Bukti Setoran</button>
                            </a>
                        <div>
                                <form action="#" class="dropzone mt-3">
                                    <div class="fallback">
                                        <input name="file" type="file" multiple="multiple">
                                    </div>
                                    <div class="dz-message needsclick">
                                        <div class="mb-3 mt-2 text-center">
                                            <i class="display-4 text-muted mdi mdi-cloud-upload-outline"></i>
                                        </div>                                        
                                        <h4 class="text-center">Drop files here to upload</h4>
                                    </div>
                                </form>
                            </div>

                            <div class="text-center mt-4">
                                <button type="button" class="btn btn-primary waves-effect waves-light">Send Files</button>
                            </div>
                        </div>
                    </div>
                </div> <!-- end col -->
            </div> <!-- end row -->

        </div>

        
    </div> <!-- container-fluid -->
</div>
